@model List<Company>

<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <!-- /.card-header -->
                <div class="card-body" style="">
                    <table id="example" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model[0].Id)</th>
                                <th>@Html.DisplayNameFor(model => model[0].FirmaName)</th>
                                <th>@Html.DisplayNameFor(model => model[0].ModifiedName)</th>
                                <th>@Html.DisplayNameFor(model => model[0].CreatedOn)</th>
                                <th>@Html.DisplayNameFor(model => model[0].ModifiedOn)</th>
                                <th></th>
                            </tr>
                        </thead>
                        @foreach (var company in (List<Company>)Model)
                        {
                            <tbody>

                                <tr>
                                    <td>@company.Id</td>
                                    <td>@company.FirmaName</td>
                                    <td>@company.ModifiedName</td>
                                    <td>@company.CreatedOn</td>
                                    <td>@company.ModifiedOn</td>
                                    <td class="project-actions text-right">
                                        <a class="btn btn-primary btn-sm" type="button" data-toggle="modal" data-target="@("#resultmodal" +company.Id)" href="@("#resultmodal" +company.Id)">
                                            <i class="fas fa-folder">
                                            </i>
                                            View
                                        </a>
                                        <a class="btn btn-info btn-sm" href="~/panel/companyedit?id=@company.Id">
                                            <i class="fas fa-pencil-alt">
                                            </i>
                                            Edit
                                        </a>
                                        <a class="btn btn-danger btn-sm" href="@Url.Action("DeleteProduct","Product", new { ID = company.Id})">
                                            <i class="fas fa-trash">
                                            </i>
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        }
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

@foreach (var company in (List<Company>)Model)
{
    <div class="modal fade bd-example-modal-lg" id="@("resultmodal" +company.Id)" tabindex="-1" role="dialog" aria-labelledby="instructionsLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Kategori</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body ml-5">
                    <p>@Html.DisplayNameFor(model => model[0].FirmaName) : @company.FirmaName</p>
                    <p>@Html.DisplayNameFor(model => model[0].ModifiedName) : @company.ModifiedName</p>
                    <p>@Html.DisplayNameFor(model => model[0].CreatedOn) : @company.CreatedOn</p>
                    <p>@Html.DisplayNameFor(model => model[0].ModifiedOn) : @company.ModifiedOn</p>
                    <br><br>
                    <p>@Html.DisplayNameFor(model => model[0].FirmaImage) : <img src="/images/@company.FirmaImage" alt="@company.FirmaName" width="500" height="600"></p>
                </div>
            </div>
        </div>
    </div>

}

<script>
    $(function () {
               $('#example').DataTable({
                   "paging": true,
                   "lengthChange": true,
                   "searching": true,
                   "ordering": true,
                   "info": true,
                   "autoWidth": true,
               });
           });
</script>